import Clock from 'components/Clock'; 


class ClockWrapper extends React.Component {
    render() {
        return ( 
        <div> 
            <Clock />
        </div>
        );
    }
}

export default ClockWrapper;